#b97da3e5-0e47-4f78-a23b-a0e68331254e {
  height: 10rem;
}
.screen {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}

h1 {
  font-size: 1.5rem;
}

input {
  background-color: white;
  color: #000000bb;
  border: 2px solid rgba(0, 0, 0, 0.384);
  border-radius: 2rem;
  font-size: 0.98rem;
  outline: none;
  padding: 0.6rem 0.8rem;
  margin-top: 1.4rem;

  width: 70vw;
}
button {
  padding: 0.8rem 2.3rem;
  background-color: #6c63ff;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 25px;
  font-size: 1.1rem;
  margin: 1rem;
  box-shadow: 0px 0 20px rgba(0, 0, 0, 0.226);
}
.inpit-group {
  display: flex;
  flex-direction: column;
}
button:active {
  background-color: #534dd3;
}

#blobSvg,
#blobSvg2 {
  position: absolute;
  top: 10;
  z-index: -1;
}

@keyframes myAnimation1 {
  from {
    right: -2rem;
    top: 0;
    transform: scale(5);
  }
  to {
    right: -3rem;
    top: 3rem;
    transform: scale(4);
  }
}
@keyframes myAnimation2 {
  from {
    right: 7rem;
    transform: scale(3.4);
  }
  to {
    right: 8rem;
    transform: scale(2.8);
  }
}

#blobSvg2 {
  right: 4rem;
  right: 8rem;
  transform: scale(2.8);
  /* animation: 4s myAnimation2 infinite alternate-reverse; */
}
#blobSvg {
  right: -2rem;
  /* animation: 2s myAnimation1 infinite alternate-reverse; */
  right: -3rem;
  top: 3rem;
  transform: scale(10);
}
